<aside class="bg-dark" id="diversity">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>We support diversity in technology</h2>
            <p>It's a sad reality that tech is not as diverse as we might like. We don't just like the idea of diversity, we make it part of our mission. If you a member of a minority in tech, please reach out to us regarding our opportunity grant program.</p>
            <!-- <a href="#" class="btn btn-default btn-xl wow tada">Download Now!</a> -->
        </div>
    </div>
</aside>
