<section class="bg-primary" id="training">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <img src="img/Logo.png" class="logo">
              <p>Copyright 2017 Wayfinder</p>
            </div>
        </div>
    </div>
</section>

<!-- <div class="col-lg-4 col-md-6 text-center">
    <div class="service-box">
        <i class="fa fa-4x fa-building wow bounceIn text-primary" data-wow-delay=".1s"></i>
        <h3>Organization Training</h3>
        <p class="text-muted">Equip your entire team with new skills rapidly. From new techniques for a familiar language to a crash course in new technology, we can organize training of any size.</p>
    </div>
</div> -->
