<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Functional programming training and consulting</h1>
            <hr>
            <p>As software becomes more and more sophisticated we struggle as an industry to keep up and adapt. Timelines are getting shorter, mistakes more costly, and yet our most basic tools and the paradigms they are built around are not changing.</p>
            <hr>
            <p>We believe that functional programming is the path forward that our industry desperately needs. Built to stay flexible from concept, through prototype, and into production, the ideas and practices of functional programming are the ideal antidote to the complex architecture and framework heavy landscape we see today.</p>
            <hr>
            <p>Venturing off the beaten path can be rough, but we know the lay of this land and how to guide you through it. Whether you are an individual or organization, the team at Wayfinder is equipped to help you blaze a trail to your destination.</p>
            <a href="#services" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
