<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 text-center">
              <div class="service-box">
                  <i class="fa fa-4x fa-building wow bounceIn text-primary" data-wow-delay=".1s"></i>
                  <h3>Organization Training</h3>
                  <p class="text-muted">Equip your entire team with new skills rapidly. From new techniques for a familiar language to a crash course in new technology, we can organize training of any size.</p>
              </div>
          </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-graduation-cap wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Individual Training</h3>
                    <p class="text-muted">Get the new skills you need to stand out on a schedule that works with your life. Small workshops with lots of hands-on work equip you for success.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-compass wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Consulting</h3>
                    <p class="text-muted">We're ready to work with your problems hand-on and mentor your team as they transition into a new paradigm. On-site or remote, we'll be with you every step of the way.</p>
                </div>
            </div>
        </div>
    </div>
</section>
