<section class="bg-primary" id="training">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Training that really moves you ahead</h2>
                <hr class="light">
                <p class="text-faded">
                  Good training can be infuiatingly hard to find, good training on functional programming topics even more so. When you don't even know the right questions to ask it feels like wandering around an unfamiliar landscape with no map. That's why our training starts where you're at, in a language you're familiar with, and introduces new concepts one at a time so you're never lost in the woods.
                </p>
                <p class="text-faded">
                  Our workshops are hands-on affairs. The only way to really learn is by doing, so you'll spend lots of your time working with new paradigms and techniques. By the time you're done, you'll have a strong foundation to pursue your own independent learning. All of our course materials are provided to you to take home, and you'll be invited to join our Slack community with all the others who have embarked upon this journey of exploration.
                </p>
            </div>
          </div>

        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p><i class="fa fa-pencil fa-4x wow bounceIn" data-wow-delay=".1s"></i></p>
                <p><h3 class="section-heading">Topics you'll learn about in our intro JavaScript course</h3></p>
                <p><em>This course is aimed at developers with a working knowledge of JavaScript. Those still learning JavaScript may need some pre-work to be ready</em></p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <p>
                    <ul>
                        <li>Pure functions</li>
                        <li>Higher order functions</li>
                        <li>Moving beyond for loops</li>
                        <li>Partial application</li>
                        <li>Immutability</li>
                        <li>A better alternative to null</li>
                        <li>How to live without exceptions</li>
                        <li>Dealing with side effects in pure code</li>
                        <li>ML style type signatures</li>
                        <li>Writing your first pure functional program</li>
                    </ul>
                </p>
                <!-- <hr class="light"> -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p></p>
                <p><a href="#contact" class="btn btn-default btn-xl page-scroll">Get Started Today</a></p>
            </div>
        </div>
    </div>
</section>

<!-- <div class="col-lg-4 col-md-6 text-center">
    <div class="service-box">
        <i class="fa fa-4x fa-building wow bounceIn text-primary" data-wow-delay=".1s"></i>
        <h3>Organization Training</h3>
        <p class="text-muted">Equip your entire team with new skills rapidly. From new techniques for a familiar language to a crash course in new technology, we can organize training of any size.</p>
    </div>
</div> -->
