  <aside class="bg-dark" id="upcoming">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Upcoming Workshops</h2>
              <h3>Introduction to Functional Programming with JavaScript and Elm</h3>
              <p>April 8th &amp; 9th at CoderCamps - <a href="https://www.google.com/maps/place/CoderCamps/@33.5577365,-111.8914737,17z/data=!3m1!4b1!4m5!3m4!1s0x872b0ace81551759:0x6523e0cfe8461a52!8m2!3d33.557732!4d-111.889285">8444 North 90th Street #110 Scottsdale, AZ 85258</a></p>
              <a href="https://www.eventbrite.com/e/introduction-to-functional-programming-tickets-8379893487" class="btn btn-default btn-xl">Register</a>
              <hr>
              <h3>Introduction to Functional Programming with JavaScript and Elm</h3>
              <p>May 22nd &amp; 23rd at <a href="http://lambdaconf.us/events/2017/lcusc.html">LambdaConf 2017</a></p>
              <a href="http://lambdaconf.us/training/lcusc/introduction-to-functional-programming.html" class="btn btn-default btn-xl">Register</a>
          </div>
      </div>
  </aside>
